.navbar {
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    margin-right: 16px;
  }
  
  .navbar-brand img {
    margin-right: 8px;
  }
  
  .spacer {
    flex: 1;
  }
  
  button {
    color: white;
    text-transform: uppercase;
    margin-left: 8px;
  }
  
  button.active {
    font-weight: 600;
  }
  
  /* Profile image styling */
  .user-menu-button {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 16px;

  }
  
  .user-image {
    border-radius: 50%;
    object-fit: cover;
    width: 2rem;
    height: 2rem;
    margin-right: 8px;
  }
  
  .user-name {
    color: white;
    font-weight: 500;
    text-transform: none;

  }

  .custom-menu {
    width: 200px; /* Adjust to your preferred width */
  }
  
  .mat-menu-item {
    white-space: nowrap; /* Prevent text wrapping */
  }
  