<div>
  <mat-toolbar color="primary" class="mat-elevation-z3 navbar">
    <!-- Application Logo and Title -->
    <span class="navbar-brand">
      <img src="favicon.ico" alt="ICON" style="border-radius: 100%; object-fit: cover; width: 2rem;">
      Smart Scheduler
    </span>
    <span class="spacer"></span>

    <!-- home page -->
    <button mat-button routerLink="/" routerLinkActive="active">Home</button>

    <!-- Show Login and Register for unauthenticated users -->
    <ng-container *ngIf="!currentUser()">
      <button mat-button routerLink="/signup" routerLinkActive="active">Register</button>
      <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
    </ng-container>

    <!-- Show dynamic options for authenticated users -->
    <ng-container *ngIf="currentUser()">
      <button  mat-button routerLink="/project" routerLinkActive="active">
        Show Projects
      </button>
      <!-- Admin-specific button -->
       <ng-container *ngIf="isAdmin()">
      <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
      <button mat-button routerLink="/admin" routerLinkActive="active">User List</button>
    </ng-container>
      <!-- User-specific button -->
    <ng-container *ngIf="isUser()">
      
      <button mat-button routerLink="/employee" routerLinkActive="active">Dashboard</button>
    </ng-container>
      <!-- User profile menu -->
      <button
        mat-button
        [matMenuTriggerFor]="profileMenu"
        class="user-menu-button"
        [matTooltip]="currentUser()?.firstName + ' ' + currentUser()?.lastName">
        <img
          [src]="currentUser()?.image"
          alt="Profile"
          class="user-image">
        <span class="user-name">{{ currentUser()?.lastName }}</span>
      </button>
      <mat-menu #profileMenu="matMenu" class="custom-menu">
        <button mat-menu-item (click)="navigateToProfile()">Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </ng-container>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
