version: '1'

services:
  homehubapp:
    container_name: angularappcontainer
    build: ./frontend
    image: angularimage
    ports:
      - "80:80"
    depends_on:
      - server
      - db
    networks:
      - application-network
  server:
    container_name: servercontainer
    build: ./backend
    image: serverimage
    env_file:
      - Express/.env
    ports:
      - "3000:3000"
    networks:
      - application-network
    volumes:
      - uploads-data:/usr/src/app/uploads
    depends_on:
      - db
  db:
    image: mysql:latest
    container_name: dbcontainer
    environment:
      MYSQL_ROOT_PASSWORD: 'root'
      MYSQL_DATABASE: 'application'  
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password' 
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3306:3306"
    expose:
      - 3306
    networks:
      - application-network

networks:
  application-network:
    driver: bridge

volumes:
  db-data:
  uploads-data:
  
