<div class="task-board">
    <div class="task-column" *ngFor="let column of taskColumns">
      <h3>{{ column.title }}</h3>
      <div class="task-card" *ngFor="let task of sortTasksByPriority(tasksByStatus(column.status)) ">
        <div
            class="task"
            [ngStyle]="{ 'background-color': getTaskPriorityColor(task) }"
            (click)="onTaskClick(task)"
            >
            {{ task.name }}
            <div class="task-actions" *ngIf="canEdit">
            <i class="material-icons" (click)="onTaskEdit($event,task)">edit</i>
            <i class="material-icons" (click)="onDeleteTask($event,task)">delete</i>
          </div>
          </div>
      </div>
    </div>
  </div>
  