.dashboard {
  padding: 24px;
  background-color: #161215;
}

.welcome-section {
  text-align: center;
  margin-bottom: 24px;
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 32px;
}

.stat-card {
  flex: 1 1 calc(33.33% - 16px);
  min-width: 200px;
  padding: 16px;
  background-color: #3b2d38;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.projects-overview {
  margin-top: 32px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.project-card {
  flex: 1 1 calc(33.33% - 16px);
  min-width: 300px;
  padding: 16px;
  background-color: #3b2d38;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.project-card mat-card-title {
  font-size: 1.2rem;
  margin-bottom: 12px;
  text-align: center;
  color: #1976d2;
}
