<div class="dashboard">
  <!-- Welcome Section -->
  <div class="welcome-section">
    <h1>Welcome, {{ AuthService.currentUser()?.firstName }} {{ AuthService.currentUser()?.lastName }} </h1>
    <p>Here's an overview of your work on the platform.</p>
  </div>

  <!-- Statistics Section -->
  <section class="statistics">
    <mat-card class="stat-card">
      <mat-card-title>Total Projects Assigned</mat-card-title>
      <mat-card-content>
        <p>{{ DashboardService.userDashboard()?.totalAssignedProjects }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="stat-card">
      <mat-card-title>Projects Roles Percentage</mat-card-title>
      <mat-card-content>
        <ng-container *ngIf="DashboardService.userDashboard()?.rolesPercentage?.length == 0"> <p>You are not assigned to any project</p> </ng-container>
        <p *ngFor="let item of  DashboardService.userDashboard()?.rolesPercentage"> <span [style.color]="roleColors[item.role]" >{{ item.role }}</span> : {{  item.percentage| number:'1.0-2' }}%</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="stat-card">
      <mat-card-title>Projects Completed</mat-card-title>
      <mat-card-content>
        <p>{{  DashboardService.userDashboard()?.completedProjects }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="stat-card">
      <mat-card-title>Total Tasks Assigned</mat-card-title>
      <mat-card-content>
        <p>{{ DashboardService.userDashboard()?.totalAssignedTasks }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="stat-card">
      <mat-card-title>Completed Tasks Percentage</mat-card-title>
      <mat-card-content>
        <p>{{ DashboardService.userDashboard()?.completedTasksPercentage | number:'1.0-1' }}%</p>
      </mat-card-content>
    </mat-card>
  </section>

  <!-- Projects Overview -->
  <section class="projects-overview">
    <h2>Your Projects</h2>
    <div class="projects">
      <mat-card class="project-card" *ngFor="let project of DashboardService.userDashboard()?.projects">
        <mat-card-title>{{ project.name }}</mat-card-title>
        <mat-card-content>
          <p><strong>Role:</strong> <span [style.color]="roleColors[project.role]"> {{ project.role }} </span></p>
          <p><strong>Budget:</strong> {{ project.budget | currency }}</p>
          <p><strong>Status:</strong> <span [ngStyle]="{ 'color': getStatusColor(project.status) }"> {{ project.status }}</span></p>
          <p><strong>Tasks Assigned:</strong> {{ project.assignedTasks }}</p>
          <p><strong>Completed Tasks:</strong> {{ project.completedTaskPercentage | number:'1.0-1' }}%</p>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</div>
