

<form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
  <mat-form-field class="input-field" appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName" placeholder="First Name" required />
  </mat-form-field>

  <mat-form-field class="input-field" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName" placeholder="Last Name" required />
  </mat-form-field>

  <mat-form-field class="input-field" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Email" required />
  </mat-form-field>

  <mat-form-field class="input-field" appearance="fill">
    <mat-label>Contact</mat-label>
    <input matInput formControlName="contact" placeholder="Contact" required />
  </mat-form-field>

  <mat-form-field class="input-field" appearance="fill">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role" placeholder="Role" required>
      <mat-option value="user">User</mat-option>
      <mat-option value="admin">Admin</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="input-field" appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status" placeholder="Status" required>
      <mat-option value="active">Active</mat-option>
      <mat-option value="inactive">Inactive</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="button-group">
    <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">
      {{ data ? 'Modify' : 'Add' }} User
    </button>
    <button mat-button type="button" (click)="onNoClick()">Cancel</button>
  </div>
</form>
