<div class="container">
    <mat-card>
      <mat-card-title>Password Reset</mat-card-title>
      <mat-card-content>
        <div class="welcome-message">
          <h2>Welcome, {{ firstName }} {{ lastName }}!</h2>
          <p>Email: {{ email }}</p>
        </div>
  
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
          <!-- New Password -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>New Password</mat-label>
            <input
              matInput
              type="password"
              formControlName="newPassword"
              placeholder="Enter your new password"
            />
            <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required')">
              Password is required.
            </mat-error>
            <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('passwordWeak')">
                Password must contain only letters and numbers with at least 8 characters.
              </mat-error>              
          </mat-form-field>
  
          <!-- Confirm New Password -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirm New Password</mat-label>
            <input
              matInput
              type="password"
              formControlName="confirmPassword"
              placeholder="Confirm your new password"
            />
            <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">
              Please confirm your password.
            </mat-error>
            <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('passwordMismatch')">
              Passwords do not match.
            </mat-error>
          </mat-form-field>
  
          <!-- Submit Button -->
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="passwordForm.invalid"
            class="submit-button"
          >
            Reset Password
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  